@media screen and (min-width: 480px) {
  * {
    margin: 0;
  }
  html, body {
    height: 100% !important;
  }
  .page-wrap {
    min-height: 100% !important;
    margin-bottom: -350px! important;
  }
  .page-wrap:after {
    content: "" !important;
    display: block !important;
  }
  .site-footer, .page-wrap:after {
    height: 350px !important;
  }
}

.site-footer {
  background-color: #f0eeec;
}

@-webkit-keyframes rotate {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}
#loading {
    border: 1px solid #000;
    border-right: 0;
    border-bottom: 0;
    -webkit-border-radius: 30px;
    height: 30px;
    width: 30px;
    margin: 30px;
    -webkit-transition: all 0.5s ease-in;
    -webkit-animation-name:             rotate;
    -webkit-animation-duration:         1.0s;
    -webkit-animation-iteration-count:  infinite;
    -webkit-animation-timing-function: linear;
}

.no_line {
	text-decoration: none !important;
}

.subheading {
	padding-top: 20px;
}

.high {
	 background: -webkit-linear-gradient(45deg, #3c74d9, #fff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.bit {
	padding-top: 10px;
}

.tap {
	padding-top: 30px;
}

.t span {
}

h1 {
	font-weight: 800;
}

.spacer {
	height: 30px;
}

.spacer-xl {
	height: 60px;
}

.step {
	margin-right: 10px;
	margin-top: 10px;
}

.tags {
}

.header {

}

.white {
	color: #ffffff;
}

.name:hover {
	cursor: pointer;
}

.namebox {
	padding-top: 10px;
}

@media screen and (max-width: 700px) {
    .sm {
        display: none;
    }
    .page-wrap, .ololo {
    	padding-left: 20px;
    	padding-right: 20px;
    }

    h1 {
      font-size: 30px;
    }
}

.hidden {
    display: none;
}

h5.name textarea {
	border: none;
	font-size: 16px;
	line-height: 24px;
	font-weight: medium !important;
	width: 100%;
}

h5  {
	font-weight: 500 !important;
}
